@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css");
#espacio{
    background-image: url(../img/bg_mapfull.png);
    background-size: 100%;
    width: 400vh;
    height: 400vh;
    background-repeat: repeat;
    background-color: black;
}
body{
    overflow-x: hidden;
}
.islas{
    position: absolute;
    border-radius: 5px;
    height: 35px;
    width: 100px;
    text-align: center;
    transition: all 0.7s ease;
    background-color: transparent;
    z-index: 0;
    color: #fff;
}
#isla2{
    background-image: url(../img/SiteDVmap.png);
    background-size: 100%;
    width: 680px;
    height: auto;
    background-repeat: no-repeat;
}
#isla5{
    width: 750px;
}
#isla4{
    background-image: url(../img/MapVivencias.png);
    background-size: 60%;
    background-repeat: no-repeat;
    width: 850PX;
    height: auto;
    background-position: top;
}
.isla-0{
    left: 31%;
    top: 35%;
    width: 650px;
    height: auto;
}
.isla-1{
    left: -1000px;
    top: -1000px;
}
.isla-1 img{
    width: 350px;
    position: absolute;
}
.isla-1 :nth-child(2) {
    margin: 30px;
    padding: 10px;
    left: 0;
    top: 0;
}
.isla-1 :nth-child(3) {
    margin: 30px;
    padding: 10px;
    left: 500px;
    top: 0;
}
.isla-1 :nth-child(4) {
    margin: 30px;
    padding: 10px;
    left: 0;
    top: 200px;
}
.isla-1 :nth-child(5) {
    margin: 20px;
    padding: 0px;
    left: 100px;
    top: 464px;
    width: 260px;
}
.isla-1 :nth-child(6) {
    margin: 30px;
    padding: 10px;
    left: 600px;
    top: 418px;
    width: 170px;
}
.isla-1 :nth-child(7) {
    position: absolute;
    padding: 10px;
    left: 380px;
    top: 280px;
    width: 150px;
}
.isla-1 :nth-child(9) {
    position: absolute;
    left: 430px;
    top: 750px;
    font-size: 30px;
    padding: 0px 10px;
}
.isla-2{
    left: -1000px;
    bottom: 100px;
}
.isla-3{
    right: 100px;
    top: -1000px;
    width: 850px;
}
.isla-4{
    bottom: -1000px;
    right: -1000px;
}
.isla-5{
    left: -1000px;
    top: 50%;
}
.ancla{
    position: fixed;
    height: 45px;
    width: 145px;
    text-align: center;
    transition: all 0.7s ease;
    z-index: 0;
}
.ancla-1{
    left: 0;
    top: 0;
}
.ancla-2{
    left: 0;
    bottom: 0;
}
.ancla-3{
    right: 0;
    top: 0;
}
.ancla-4{
    bottom: 0;
    right: 0;
}
.ancla-5{
    left: 0;
    top: 50%;
}
.posc{
    top: 45%;
    left: 50%;
    position: absolute;
    z-index: 1;
}
.posc2{
    top: 50%;
    left: 25%;
    position: absolute;
    z-index: 1;
}